body {
  font-family: Arial, Verdana;
}

#header {
  height: 100px;
}

.widget div{
  padding: 2px;
}

.login {
  margin: auto;
  width: 400px;
}

.login .content {
  padding: 10px;
}

table {
  width: 100%;
}

table thead tr th{
  background: #000;
  color: #FFF;
}

.main {
  width: 65%;
  float: right;
}

.sidebar {
  background: #000;
  width: 30%;
  margin-right: 5%;
  float: left;
}
